<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Plant-Science</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/main.css">
    <script src='main.js'></script>
</head>

<body>
    <div class="Frame1" style="width: 888px; height: 1140px; position: relative; background: white">
        <div class="Rectangle2" style="width: 888px; height: 1140px; left: 0px; top: 0px; position: absolute; background: #EEFCFF"></div>
        <div class="Rectangle1" style="width: 777px; height: 1047px; left: 54px; top: 48px; position: absolute; background: #E6F4F1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 14px"></div>
        <div class="PlantScienceOnlineToolkitToCalculatePlantAbioticStressIndices" style="width: 520px; height: 42px; left: 182px; top: 82px; position: absolute"><span style="color: #003951; font-size: 18px; font-family: Baloo; font-weight: 400; word-wrap: break-word">Plant-Science</span><span style="color: #A53267; font-size: 16px; font-family: Baloo; font-weight: 400; word-wrap: break-word"> </span>
            <span
                style="color: #9E4300; font-size: 16px; font-family: Baloo; font-weight: 400; word-wrap: break-word">: online toolkit to calculate plant abiotic stress indices.</span>
        </div>
        <div class="Rectangle3" style="width: 734px; height: 56px; left: 75px; top: 714px; position: absolute; background: #FCFCD4; border-top-left-radius: 8px; border-top-right-radius: 8px"></div>
        <div class="DPlot" style="width: 82px; height: 25px; left: 136px; top: 723px; position: absolute; color: #003951; font-size: 24px; font-family: Baloo; font-weight: 400; word-wrap: break-word">3D Plot</div>
        <div class="Line1" style="width: 27px; height: 0px; left: 259px; top: 728px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #003951 dotted"></div>
        <div class="Line2" style="width: 27px; height: 0px; left: 401px; top: 728px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #003951 dotted"></div>
        <div class="Line3" style="width: 27px; height: 0px; left: 629px; top: 728px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #003951 dotted"></div>
        <div class="Pca" style="width: 54px; left: 310px; top: 723px; position: absolute; color: #003951; font-size: 24px; font-family: Baloo; font-weight: 400; word-wrap: break-word">PCA</div>
        <div class="CorrelationPlots" style="width: 160px; height: 25px; left: 440px; top: 729px; position: absolute; color: #003951; font-size: 20px; font-family: Baloo; font-weight: 400; word-wrap: break-word">Correlation Plots</div>
        <div class="Frequencies" style="width: 117px; height: 25px; left: 654px; top: 729px; position: absolute; color: #003951; font-size: 20px; font-family: Baloo; font-weight: 400; word-wrap: break-word">Frequencies</div>
        <div class="Rectangle7" style="width: 107px; height: 38px; left: 120px; top: 723px; position: absolute; border-radius: 12px; border-bottom: 1.50px #003951 solid"></div>
        <div class="Rectangle8" style="width: 79px; height: 38px; left: 294px; top: 723px; position: absolute; border-radius: 12px; border-bottom: 1.50px #003951 solid"></div>
        <div class="Rectangle9" style="width: 176px; height: 32px; left: 433px; top: 730px; position: absolute; border-radius: 12px; border-bottom: 1.50px #003951 solid"></div>
        <div class="Rectangle10" style="width: 136px; height: 32px; left: 643px; top: 730px; position: absolute; border-radius: 12px; border-bottom: 1.50px #003951 solid"></div>
        <div class="TheResultsOfTheCalculatedData" style="width: 520px; height: 42px; left: 182px; top: 132px; position: absolute; text-align: center; color: #A53267; font-size: 20px; font-family: Baloo; font-weight: 400; word-wrap: break-word">The results of the calculated data</div>
        <div class="Rectangle5" style="width: 734px; height: 325px; left: 75px; top: 770px; position: absolute; background: #FFFFF5; border-radius: 11px; border-top: 1px #979797 solid"></div>
        <div class="Column0" style="left: 444px; top: 571px; position: absolute"></div>
        <div class="Rectangle11" style="width: 422px; height: 56px; left: 233px; top: 200px; position: absolute; background: #FCFCD4; border-radius: 8px"></div>
        <div class="Indices" style="left: 308px; top: 209px; position: absolute; color: #003951; font-size: 24px; font-family: Baloo; font-weight: 400; word-wrap: break-word">Indices</div>
        <div class="Line4" style="width: 27px; height: 0px; left: 465px; top: 215px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #003951 dotted"></div>
        <div class="Ranks" style="left: 519px; top: 209px; position: absolute; color: #003951; font-size: 24px; font-family: Baloo; font-weight: 400; word-wrap: break-word">Ranks</div>
        <div class="Rectangle12" style="width: 121px; height: 38px; left: 287px; top: 209px; position: absolute; border-radius: 12px; border-bottom: 1.50px #003951 solid"></div>
        <div class="Rectangle13" style="width: 109px; height: 38px; left: 502px; top: 207px; position: absolute; border-radius: 12px; border-bottom: 1.50px #003951 solid"></div>
        <div class="Rectangle14" style="width: 734px; height: 430px; left: 75px; top: 255px; position: absolute; background: #FFFFF5; border-radius: 11px; border-top: 1px #979797 solid"></div>
    </div>
</body>

</html>