body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-baloo: Baloo;
    --font-inter: Inter;
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    /* Colors */
    --color-white: #fff;
    --color-darkslategray-100: #0e5c4c;
    --color-darkslategray-200: #003951;
    --color-azure-100: #eefcff;
    --color-azure-200: #e6f4f1;
    --color-black: #000;
    --color-teal: #368776;
    --color-floralwhite: #fffff5;
    --color-darkgray: #979797;
    --color-saddlebrown: #9e4300;
    --color-palevioletred: #a53267;
    --color-lightgoldenrodyellow: #fcfcd4;
    /* border radiuses */
    --br-15xl: 34px;
    --br-xs: 12px;
    --br-2xs: 11px;
    --br-5xs: 8px;
    --br-sm: 14px;
}