<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
</head>

<body>
    <form action="/result" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="frame-item"></div>
        <div class="frame-inner"></div>
        <div class="plant-science-online-container">
            <span>Plant-Science</span>
            <span class="online-toolkit-to-calculate-pl">
          <span class="span"> </span>
            <span>: online toolkit to calculate plant abiotic stress indices.</span
          >
        </span>
        </div>
        <div class="instructions">Instructions</div>
        <div class="rectangle-div"></div>
        <div class="line-div"></div>
        <div class="indices">Indices</div>
        <div class="frame-child1"></div>
        <div class="frame-child2"></div>
        <div class="to-start-calculating-container">
            <p class="to-start-calculating-please-p">
                <span class="span1">1 -</span>
                <span>To start calculating, please provide a data file according</span>
            </p>
            <p class="to-start-calculating-please-p">
                <span class="span1">2 - </span>
                <span>Click on the “Choose File“ button and select your data file.</span>
            </p>

            <p class="to-start-calculating-please-p">
                <span class="span1">3 -</span>
                <span> Click “Get Results”.</span>
            </p>
            <p class="to-start-calculating-please-p">
                <span class="span1">4 - </span>
                <span>Enjoy and download results.</span>
            </p>

            <p class="to-start-calculating-please-p">to example file.</p>
        </div>
        <div class="example-file">Example File</div>
        <div class="about-us">About Us</div>
        <div class="frame-child3"></div>
        <div class="frame-child4"></div>

        <div class="choose-file">Choose File</div>
        <div class="frame-child5"></div>
        <div class="process">Process</div>
    </div>
</body>

</html>